.admin-home-container {
  padding: 0px 10px;
}
.main-account-card {
  /* padding: 0px 20px; */
  width: 100%;
  padding: 15px 30px 10px 30px;
  border-radius: 10px;
  height: 230px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: -50px 16px 16px 16px;
  background-color: white;
}
.companyLogo {
  height: 60px;
  width: 60px;
}
.main-account-card-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0px 20px; */
}
.main-account-car-header-inner {
  display: flex;
  align-items: center;
}
.swift-logo-main {
  width: 30px;
  height: 30px;
}

.balance-block-container {
  margin-top: 20px;
}
.balance-block {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-align: left;
  padding: 8px 40px;
  background-color: #eef0f1;
}
.balance-block-amount {
  margin: 4px 0px;
}

.admin-currency-card-container {
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  height: 280px;
  /* margin-right: -40px; */
  overflow-x: scroll;
}
.admin-currency-card-container::-webkit-scrollbar {
  display: none;
}
