@import 'bootstrap.scss';
@import 'style.scss';

@import 'themify.scss';
@import 'whether-icon/whether-icon';

@import 'flag-icon/flag-icon-base';
@import 'flag-icon/flag-icon-more';
@import 'flag-icon/flag-icon-list';

@import 'icoicon/icons';
@import 'font-awesome.scss';

@import 'chartist/chartist-settings';
@import 'chartist/chartist';

html::-webkit-scrollbar {
  display: none;
}

.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr {
  background-color: #d9d9d9;
  margin: 0.5%;
}
.ReactTable .rt-thead.-header {
  background-color: #d9d9d9;
}

.headings-before-table {
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 2%;
  width: 20rem;
}
.client-accounts-buttons {
  button {
    background-color: #dcdcdc;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    cursor: pointer;
  }
}
.logout-admin {
  margin-left: 100px;
  font-size: 14px;
}
// .swift-search-logout-div {

// }
.swift-outgoing-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  margin-top: -50px;
  input {
    width: 60%;
  }
  button {
    background-color: #dcdcdc;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1%;
  }
}
.my-modal {
  width: 75vw;
  max-width: 75vw;
}
.modal-content {
  background-color: #dcdcdc;
}
.modal {
  left: 6%;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;

  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.rdt_Table {
  overflow-y: scroll !important;
  height: 240px !important;
}

.rdt_table::-webkit-scrollbar {
  display: none;
}
