a {
    outline: none !important;
}
.react-tel-input {
    .form-control{
        width:100% !important;
    }
}
.hidden{
    display:none !important
}
.show{
    display:flex !important
}
.switch-field {
    display: flex;
    overflow: hidden;
    width:100%;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.page-content {
    margin-top: 100px !important;
}
.switch-field label {
    // background-color: #e4e4e4;
    // color: rgba(0, 0, 0, 0.6);
    // font-size: 16px;
    // font-weight: bold;
    // line-height: 1;
    // text-align: center;
    // padding: 16px 16px;
    // margin-right: -1px;
    // border: 1px solid rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    // transition: all 0.1s ease-in-out;
    // width:50%;
    position: relative;
    background: transparent;
    border-color: transparent;
    color: #3b3b3c;
    border-radius: 30px;
    padding: 11px 15px;
    font-weight: 800;
    font-size: 21px;
    width: 50%;
    text-align: center;
    box-shadow: 0 0 0 #000;
    cursor: pointer;
}

// .switch-field label:hover {
//  cursor: pointer;
// }

.switch-field input:checked + label {
    // background-color: #1ea6ec;
    // box-shadow: none;
    background: #b5f3e8;
    border-color: #b5f3e8;
    box-shadow: 0 10px 8px -10px #3b3b3c;
    text-shadow: 1px 2px 2px #d8fff8;
    color: #3b3b3c;
}

// .switch-field label:first-of-type {
//  border-radius: 4px 0 0 4px;
// }

// .switch-field label:last-of-type {
//  border-radius: 0 4px 4px 0;
// }
//steve
.compactLogo{
    a{
        display: block;
        max-width: 71px;
        margin: 0 auto;
    }
    img {
        max-width: 100%;
    }
}
.auth-logo{
    margin: 0 auto 10px;
    max-width: 166px;
    display: block;
    text-align: center;
    color: #000000;
    font-size: $page-title-font-size;
    font-weight: bold;
    font-family: Sansation;

    img {
        max-width: 100%;
    }
}
.react-tabs{
    .react-tabs__tab-list{
        border: none;
    }
}
.authentication-box{
    max-width: 651px;
    width: 100%;
    &.login-page{
        max-width: 570px;
        .card-body{
            .card-body-inner{
                background: #F3E3FF!important;
                padding-bottom:18px;
                border-radius: 30px; 
            } 
        }
    }
    .auth-name {
        h4{
            color: #3b3b3c;
            text-align: center;
            margin-bottom: 7px !important;
            font-size: 18px;
        }
    }
    .form-group{
        position: relative;
    }
    .card {
        background-color: transparent;
        // box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.5);
    }
    .react-tabs__tab{
        position: relative;
        background: transparent;
        border-color: transparent;
        color: #3b3b3c;
        border-radius: 30px;
        padding: 11px 15px;
        font-weight: 800;
        font-size: 21px;
        width: 50%;
        text-align: center;
        box-shadow: 0 0 0 #000;
        &.react-tabs__tab--selected {
            background: #b5f3e8;
            border-color: #b5f3e8;
            box-shadow: 0 10px 8px -10px #3b3b3c;
            text-shadow: 1px 2px 2px #d8fff8;
            color: #3b3b3c;
        }
        &:focus{
            &::after{
                position: relative;
            }
        }
    }
}
.switchlabelTabs{
    position: relative;
}
.switch-field.switchlabelTabs-outer{
    overflow: initial;
}
.csTooltip{
    color: #1a73e8;
    position: absolute;
    bottom: calc(100% - 21px);
    z-index: 1;
    background-color: transparent;
    max-width: 276px;
    left: calc(100% - 30px);
    font-size: 14px;
    transition: all 0.3s ease 0s;
    pointer-events: none;
    width: 100%;
    span{
        display: block;
        white-space: nowrap;
        i{
            width: 20px;
            pointer-events: all;
        }
        span{
            font-size: 10px;
            display: inline-block;
            opacity: 0;
            pointer-events: none;
            position: relative;
            z-index: 1;
            margin-left: 0;
            padding: 7px;
            white-space: normal;
            line-height: 1.1;
            text-shadow: 0 0;
            font-weight: normal;
        }
    }
    &:hover span span{
        opacity: 1;
        pointer-events: none;
        color: #696969;
        text-align: left;
        width: calc(100% - 20px);
    }
    &:hover{
        background-color: #fff;
        border-radius: 4px;
        padding-left: 5px;
    }
}

.custom-form{
    .form-control,.form-group input.form-control,.form-group select.form-control,.form-group  select.form-control:not([size]):not([multiple]){
        height: 40px;
        background-color: transparent;
        background: none;
        border-color: transparent;
        border-bottom-color: #eff0f1;
        border-radius: 0;
        color: #333;
        &:focus{
            border-bottom-color: #00adee;
            box-shadow: 0 0;
            outline: none;
        }
    }
}
.setexchfrom{
    .form-control-static{
        height: 40px;
        line-height: 40px;
        background-color: transparent;
        background: none;
        border-color: transparent;
        border-bottom-color: #eff0f1;
        border-radius: 0;
        color: #333;
    }
}
.b-600{
    font-weight: 600;
}
.mx-351{
    max-width: 351px;
}
.labelSeprator{
    border-bottom: 1px solid #ddd;
    padding: 7px 0;
    display: block;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 11px;
    position: relative;
}
.subLabelSeprator{
    border-bottom: 1px solid #e6e6e6;
    padding: 7px 0;
    display: block;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    margin-top: 7px;
    margin-bottom: 11px;
}
.ml-15{
    margin-left: 15px;
}
.form-group{
    &:hover{
        .csTooltip{
            z-index: 2;
        }
    }
}

.forgot-password {
    padding: 35px 0 15px;
    text-align: center;
}

.page-main-header{
    .main-header-right {
        .nav-right{
                ul{
                    float: right;
                }
                .profile-dropdown{
                    top: 40px;
                }
            }
    }
}
.newAuthLabel { 
    margin: 0;
    text-align: center;
}
.spsl-wrapper {
    text-align: center;
    margin: 70px 0px 0px 0px;
    p{
        margin: 0;
        font-size: 12px;
        color:#7C7C7C
    }
    h4 {
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 600;
        color:#7C7C7C
    }
}
.ibs-wrapper{
    padding: 25px 0;
    p{
        margin: 0
    }
}
.authentication-main{
    &.admin-login{
        padding: 0 100px;
        .auth-innerright{
            min-height: 100vh;
        }
    }
    .auth-innerright {
        min-height: calc(100vh - 221px);
    }
}
.copy-right {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #ecf0ff;
    margin-top: 21px;
    p{
        margin: 0;
        font-size: 12px;
    }
}
//13-feb
span.verifyRisk {
    display: block;
    margin-bottom: 3px;
    .btn{
        margin-right: 15px;
        &.active {
            + .riskLevel_options{
                display: inline-block;
            }
        }
    }
}
.card{   
    .sudata-table{
        padding-top: 15px;
    }
}
.sudata-table{
    .rdt_TableHeader {
        display: none;
    }
    .rdt_TableHeadRow div {
        font-weight: 600;
    }
}
.riskLevel_options{
    display: none;
}
.page-wrapper{
    .page-body-wrapper{
        footer{
            .spsl-wrapper{
                h4{
                    font-size: 14px;
                }
            }
            p{
                font-size: 12px;
                color: #444444;
            }
        }
        .page-body{
            min-height: calc(100vh - 212px);
        }
        .page-sidebar{
            background-color: #fff;
            .main-header-left{
                .logo-wrapper{
                    padding-left: 0;
                }
            }
            .sidebar-user{
                p,h6{
                    color: #333;
                }
            }
            .sidebar-menu{
                li{
                    >a{ 
                        &.active{
                            font-weight: 600;
                        }
                    }
                    &.active {
                        >a{
                            font-weight: 600;
                            &.active{
                                font-weight: 600;
                            }
                        }
                    }
                    a,.sidebar-header{
                        color: white;  
                        &:hover,&:active{
                            color: #333;  
                        }
                    }
                    &.active{
                        a{
                            color: #333;  
                        }
                        .sidebar-submenu {
                            > li{
                                &.active {
                                    > a{
                                        color: #333;
                                    }
                                }
                            }
                        }
                    }
                }
                .sidebar-submenu {
                    margin-left: 15px !important;
                    li{
                        a{
                            display: block;
                            line-height: 1.432;
                        }
                    }
                    > li {
                        > a{
                            color: #333;
                            &:hover{
                                color: #333;
                            }
                            &.active{
                                color: #000;
                            }
                        }
                        a{
                            i{
                                margin-top: 4px !important;  
                                margin-left: -5px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.currenyBalTxt{
    span{
        font-weight: 600;
    }
}
.stepStyle{
    text-align: left;font-weight: 600;padding: 15px 15px 0;
}
.form-control.cs-error{
    border-bottom-color: red !important;
}
.mt-messageWrap{
    &.activeMsg{
        >span{
            &:first-child
            {
                max-width: 100%;
            }
            &:last-child{
               >span:first-child{
                    display: none;
                }
                >span:last-child{
                     display: initial;
                 }
            }
        }
    }
    >span{
        display: inline-block;
        vertical-align: top;
        &:first-child{
            max-width: 201px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 7px;
            margin-right: 7px;
        }
        &:last-child{
            padding: 3px 7px;
            cursor: pointer;
            color: #fff;
            border-radius: 3px;
            font-size: 12px;
            background-color: #0C96E4 !important;
            border-color: #0C96E4 !important;
            >span:last-child{
                display: none;
            }
        }
    }
}
.dtDpValWrapper{
    .col{
        .card{
            margin-bottom: 0;
            padding-bottom: 30px;
            height: 100%;
        }
        .card-body{
            padding: 15px 11px;
            div{
                &:first-child{
                    margin-bottom: 7px;
                }
                &:not(:first-child){
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 5px;
                    .dtDpVal{
                        font-size: 13px;
                        font-weight: normal;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}
.all-info .card-body.border > div:first-child{
    margin-bottom: 7px;
}
.all-info .card-body.border{
    .sub_div{
        max-width: 100%;clear: both;
        width: 100% !important; 
        border: 1px solid #f1f1f1;
        color: #666;
        small{
            font-size: 90%;
        }
    }
    .sec-title{
        margin-bottom: 21px;
        &:not(:first-child){
            padding-top: 21px;
            clear: both;
        }
    }
}
.all-info .card-body.border > div:not(.sec-title),.all-info .card-body.border .sub_div > div:not(:first-child) {
    width: 33.33%;
    padding: 0px 7px 7px;
    font-size: 12px;
    float: left;
    font-weight: 600;
    margin-bottom: 5px;
    .dtDpVal{
        font-size: 13px;
        font-weight: normal;
        line-height: 1.5;
    }
}
.cs-label {
    font-size: 10px;
    margin-bottom: 3px;
    color: #666;
    line-height: 1.3;
}
.custom-form.curencyExchFrm:not(.show) {
    display: none;
}
button[name="makeChange"],button[name="confirmExchange"],button.loader-btn {
    &:not(.spin){
        i{
            display: none;
        }
    }
}
.relative{
    position: relative;
}
input:focus{
    & + .passwordError {
        display: block;
    }
}

.passwordError {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1;
    font-size: 12px;
    pointer-events: none;
    line-height: 1.3;
    list-style-type: disc;
    width: 100%;
    max-width: 211px;
    padding: 10px 7px 10px 25px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    color: #e4566e;
}
.passwordError::after {
    content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #e4e4e4;
    left: -15px;
    top: 0;
    position: absolute;
    z-index: -1;
}
.comingSoon {
    padding: 51px 15px;
    text-align: center;
    font-size: 21px;
    background: #f7f7f8;
}
.trfrform-wrapper{
    .col{
        min-width: 221px;
        // max-width: 321px;
    }
}
.switch-field label {
    background: transparent;
    border-color: #fff0;
    box-shadow: 0 0 0 #fff;
}
//responsive

@media screen and (max-width:1100px){
    .csTooltip{
        max-width: 121px;
    }
}
@media screen and (min-width:992px){
    .page-body-wrapper > .page-sidebar:not(.open),.page-body-wrapper > .page-sidebar.open{
        margin-left: 0 !important;
    }
}
@media screen and (max-width:991px){
    .page-body-wrapper > .page-sidebar.open{
        margin-left: 0 !important;
    }
    .page-body-wrapper > .page-sidebar:not(.open){
        margin-left: calc(-260px);
    }
    .all-info .card-body.border > div:not(:first-child) {
        width: 50%;
    }
}
@media screen and (max-width: 911px){
    .passwordError {
        font-size: 10px;max-width: 151px;
    }
}
@media screen and (max-width:767px){
    .ibs-wrapper{
        text-align: center;
    }
}
@media screen and (max-width:575px){
    .authentication-main.admin-login{
        padding: 0;
    }
    .all-info .card-body.border > div:not(:first-child) {
        width: 100%;
    }
    .switchlabelTabs-outer{
        .csTooltip{
            right: 11px;
        }
    }
    .csTooltip{
        max-width: 175px;
        left: auto;
        right: 0px;
        &:hover{
            padding-left: 0;
            span{
                span{
                    width: 100%;
                    padding: 7px 15px 7px 7px;
                }
            }
        }
        span {
            i {
                width: 20px;
                pointer-events: all;
                position: absolute;
                bottom: 5px;
                right: 0;
                text-align: right;
            }
            span{
                margin-left: 0;
                padding: 7px;
            }
        }

    }
    .authentication-box{
        
        .card-body{
            border-radius: 1rem;
            .card-body-inner{
                background:#F3E3FF !important;
                padding-bottom:18px;
                border-radius: 30px; 
            }
            .switch-field{
                label{
                    font-size: 16px;
                }
            } 
        }
    }
    .page-wrapper .page-main-header .main-header-right .nav-right > ul > li .onhover-show-div {
        left: 20px;
        right: auto;
    }
}