/*.navbar-default.nav-top ul {
  display: inline-block;
  float: right;
}
.navbar-default ul.navbar-top li {
  float: left;
  font-size: 11px;
}
.navbar-brand {
  margin: -40px;
}*/
@media (max-width: 425px) {
  .fixed-top-sm {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    // z-index: 1030;
  }
  body {
    padding-top: 44px;
  }
  .nav-item > input[type='search'] {
    width: 40px !important;
  }
  #navbar2 > ul {
    flex-direction: column;
  }
  .my-masonry-grid {
    padding: 2%;
  }
}
@media (max-width: 768px) {
  .fixed-top-sm {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    // z-index: 1030;
  }
  body {
    padding-top: 44px;
  }
  .nav-item > input[type='search'] {
    width: 40px !important;
  }
  #navbar2 > ul {
    flex-direction: column;
  }
  .my-masonry-grid {
    padding: 2%;
  }
}

.page-body .page-content {
  margin-top: 2% !important;
}
.fixed-top-sm {
  display: flex;
  background-color: #f9f9f9;
  .navbar-nav {
    .nav-item {
      input[type='search'] {
        border: 1px solid #ededed;
        width: 769px;
        height: 50px;
        padding: 20px;
        font-size: 18px;
        color: #ededed;
      }
    }
  }
  .navbar-brand {
    margin-right: 5rem;
  }
}
.whiteText {
  color: white;
}
.purpleBG {
  background-color: #300060;
}
#navbar2 {
  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .linkStyle {
      color: white;
      font-size: 1.2em;
      letter-spacing: 0.1em;
    }
  }
}
