.add-beneficiary-container {
  max-width: 70vw;
  /* height: 100vh; */
  margin: 00px auto;
  padding: 12px;
}

.Add-Beneficiary-Form-title-text {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin-top: 15px;
}
.beneficiary-text-box {
  width: 300px;
  background-color: #c4c4c4;
  padding: 10px;
  /* margin-left: 12px; */
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.beneficiary-title-text {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
}

.beneficiary-details-section {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  /* grid-template-rows: repeat(5, 70px); */
  row-gap: 20px;
  column-gap: 26px;
}

.add-beneficiary-fields-div {
  display: flex;
  flex-direction: column;
}

.add-beneficiary-fields-div > label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
  text-align: left;
  padding: 2px 0px;
  font-family: CustomFont;
}
.add-beneficiary-fields-div .signup-input {
  width: 200px;
  background-color: #f9f9f9;
  border: 2px solid #ededed;
  padding: 4px;
  outline: none;
}

.add-beneficiary-button {
  background-color: #ea8e67;
  width: 160px;
  border-radius: 4px;
  padding: 8px;
  margin-top: 26px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #fff;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.choose-sepa-type-button-div {
  display: flex;
  width: 50%;
  /* justify-content: space-between; */
}
.choose-sepa-type-button-div button {
  width: 90px;
  padding: 6px;
  margin-right: 12px;
  cursor: pointer;
  border: 1px solid #000;
  color: #777777;
  outline: none;
}
/* .go-back-home {
    justify-self: start;
  }*/
.toggle-button-container {
  margin-left: auto;
}
