.customLoader-ring {
  align-items: center;

  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  align-self: center;
  margin: 100px;
}
.customLoader-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;

  align-self: center;
  border: 2px solid #5b83c2;
  border-radius: 50%;
  animation: customLoader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5b83c2 transparent transparent transparent;
}

.customLoader-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.customLoader-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.customLoader-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes customLoader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.progressMessage {
  margin-top: 140px;
  text-align: center;
}
