.edit-input-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  width: 80%;
  margin: 40px auto;
}
.edit-profile-input-div {
  display: flex;
  flex-direction: column;
}
.settings-input {
  border: none;
  border-bottom: 1px solid #007bff;
  background: none;
  padding: 4px 4px 10px 4px;
}
.user-setting-button-div {
  width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
.user-setting-button-div button {
  border: none;
  background: #007bff;
  padding: 10px;
  width: 20%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
