.exchange-card-container {
  display: flex;
  /* flex-direction: column; */
  width: 90%;
  margin: 40px auto 50px auto;
  box-shadow: 0px 4px 8px 0px #c4c4c4;
  border-radius: 8px;
  height: 80vh;
}

.exchange-form-container {
  display: flex;
  width: 550px;
  margin: 30px 14px;
  padding: 12px;
  justify-content: space-evenly;
}
.field-div {
  display: flex;
  flex-direction: column;
}
.field-div:nth-child(2) {
  margin-left: 100px;
}
.field-div .blue-text {
  font-weight: 600;
  font-size: 12px;
  color: #7800c0;
  margin-top: 0px;
}
.bold-text {
  font-weight: 600;
}

.field-div p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.Bastion-financial-group-card {
  border: 1px solid #ccc;
  color: #000;
  height: 400px;
  width: 400px;
  margin: 10px 80px;
  padding: 8px;
  font-weight: bold;
  background-image: linear-gradient(#fff, #989898);
}

.exchange-form-button {
  background-color: #8899f0;
  border: #021bff;
  outline: none;
  color: white;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.save {
  margin-top: 30px;
}
.exchange {
  margin-top: 34px;
  width: 120px;
}

input {
  width: 200px;
  background-color: #f9f9f9;
  border: 2px solid #ededed;
  padding: 4px;
}

@media only screen and (min-width: 1440px) {
  .exchange-card-container {
    height: 70vh;
  }
  .Bastion-financial-group-card {
    height: 500px;
    width: 500px;
  }
  .field-div .blue-text {
    font-size: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .exchange-form-container {
    display: flex;
    flex-direction: column;
    /*height: 150vh; */
    box-shadow: 0px 0px 0px 0px none;
    overflow-y: auto;
  }
  .Bastion-financial-group-card {
    display: none;
  }

  .field-div:first-child {
    margin-top: 450px;
  }
  .field-div:nth-child(2) {
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .field-div:first-child {
    margin-top: 250px;
  }
}

@media only screen and (max-width: 375px) {
  .field-div:first-child {
    margin-top: 420px;
  }
}
