/* E X T E R N A L F O R M */

.transfer-card-container-internal {
  width: 90%;
  margin: 50px auto 50px auto;
  box-shadow: 0px 4px 2px 0px #c4c4c4;
  border-radius: 8px;
  min-height: 540px;
  max-height: 600px;
}
.transfer-card-container-external {
  width: 90%;
  margin: 50px auto 50px auto;
  box-shadow: 0px 4px 2px 0px #c4c4c4;
  border-radius: 8px;
  min-height: 480px;
  max-height: 600px;
}
.tranfer-form-text {
  font-weight: 600;
  font-size: 16px;
  margin-top: 0px;
}
.blue-text {
  font-weight: 600;
  font-size: 12px;
  color: #7800c0;
  margin-top: 0px;
}
.account-no-text {
  font-weight: 600;
  font-size: 12px;
}

.top-row-element-container {
  display: flex;
}
.top-element-div {
  display: flex;
  flex-direction: column;
}
.choose-transfer-type-button-div {
  display: flex;
}
.choose-transfer-type-button-div button {
  width: 90px;
  padding: 6px;
  margin-right: 12px;
  cursor: pointer;
  border: 1px solid #000;
  color: #777777;
  outline: none;
}
.transfer-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  font-size: 14px;
  font-weight: 600;
}
.transfer-type span {
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  margin-top: -8px;
  margin-bottom: 8px;
  margin-left: -20px;
}

.choose-transfer-type-button-div .radio-button-div {
  display: flex;
  width: 100px;
}
.choose-transfer-type-button-div .radio-button-div > input {
  width: 30px;
  margin-top: 3px;
}

.transfer-type-active {
  background-color: #f3e3ff;
}

.transfer-type-inactive {
  background-color: #fff;
}

.top-element-div span {
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  margin-top: -8px;
  margin-bottom: 8px;
}
.top-element-div:nth-child(2) {
  margin-left: 160px;
}
/* .top-element-div:nth-child(3), */
.top-element-div:nth-child(4) {
  margin-left: 40px;
}
.top-element-div:nth-child(3) {
  margin-left: 40px;
}
.top-element-div label {
  font-size: 16px;
  margin-top: -8px;
  margin-bottom: 8px;
}

.top-element-div input {
  width: 340px;
  padding: 6px;
  margin-top: 0px;
}

.beneficicary-information-text {
  font-size: 13px;
  color: #7800c0;
  font-weight: bold;
  margin-top: 30px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
  width: 300px;
}
.beneficicary-information {
  display: grid;
  grid-template-columns: 370px repeat(2, 320px);
  grid-template-rows: repeat(3, 70px);
  row-gap: 6px;
  column-gap: 6px;
}

.user-inputs-div {
  display: flex;
  flex-direction: column;
  /* margin-left: 14px; */
}
.user-inputs-div:nth-child(1),
.user-inputs-div:nth-child(5),
.user-inputs-div:nth-child(9),
.user-inputs-div:nth-child(13),
.user-inputs-div:nth-child(17) {
  margin-left: 0px;
}

.user-inputs-div label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
}
/* .user-inputs-div span {
  color: #7800c0;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
} */
.user-inputs-div input {
  width: 200px;
  background-color: #f9f9f9;
  border: 2px solid #ededed;
  padding: 4px;
}

.user-inputs-div .upload-file {
  width: 180px;
  padding: 8px;
  background-color: #c4c4c4;
}

.user-inputs-div label:nth-child(2) {
  font-weight: 600;
}
.transfer-button-div {
  display: flex;
}
/* .transfer-button-div button {
  padding: 8px;
  color: white;
  background-color: #8899f0;
  border: 1px solid #021bff;
  border-radius: 6px;
  cursor: pointer;
}
.transfer-button-div .transfer {
  width: 100px;
  margin-top: 40px;
} */

/* .user-inputs-div button {
  padding: 8px;
  color: white;
  background-color: #8899f0;
  border: 1px solid #021bff;
  border-radius: 6px;
  cursor: pointer;
} */
.transfer {
  width: 100px;
  margin-top: 10px;
  color: white;
  background-color: #8899f0;
  border: 1px solid #021bff;
  border-radius: 6px;
  cursor: pointer;
}
.instructionText {
  margin-top: 10px;
  margin-left: 24px;
  width: 250px;
  font-size: 11px;
}
.urgentHelpText {
  text-align: center;
  margin-top: 36px;
  font-weight: bold;
}

/*************  I N T E R N A L F O R M ***************/
.internal-form-beneficiary-information {
  display: flex;
}

.internal-form-beneficiary-information > .internal-form-user-input-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(5, 70px);
  row-gap: 6px;
  column-gap: 6px;
  /* width: 80%; */
}
.internal-form-beneficiary-information > div:nth-child(2) {
  border: 1px solid #ccc;
  color: #000;
  height: 300px;
  width: 400px;
  margin: 10px auto;
  padding: 8px;
  font-weight: bold;
  font-size: 12px;
  background-image: linear-gradient(#fff, #989898);
}

.internal-form-user-input-container > div {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}
.internal-form-user-input-container > div label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

.internal-form-user-input-container > div input {
  width: 200px;
  background-color: #f9f9f9;
  border: 2px solid #ededed;
  padding: 4px;
}

.internal-form-user-input-container > div .upload-file {
  width: 180px;
  padding: 8px;
  background-color: #c4c4c4;
  margin-top: 0px;
}
.internal-form-user-input-container > div button {
  width: 100px;
  padding: 8px;
  color: white;
  background-color: #8899f0;
  border: 1px solid #021bff;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 16px;
}
.internal-form-user-input-container > .msg-to-operator-div {
  margin-top: 16px;
}

.internal-form-user-input-container > div:nth-child(1),
.internal-form-user-input-container > div:nth-child(3),
.internal-form-user-input-container > div:nth-child(5),
.internal-form-user-input-container > div:nth-child(7),
.internal-form-user-input-container > div:nth-child(17) {
  margin-left: 0px;
}

.message-to-operator {
  float: right;
  display: flex;
  margin-top: -24px;
  margin-right: 100px;
}
.message-to-operator label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
}
.message-to-operator input {
  width: 200px;
  background-color: #f9f9f9;
  border: 1px solid #ededed;
  padding: 4px;
  margin-left: 30px;
}
