.forgot-password-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Sansation;
  padding: 10px;
}
.app-info-wrapper {
  text-align: center;
}
.back-to-login {
  text-align: center;
}
