.currency-card-container {
  display: grid;
  grid-template-columns: repeat(50, 21vw);
  height: 280px;
  margin-left: 100px;
  /* overflow-x: scroll; */
}
.currency-card-container::-webkit-scrollbar {
  display: none;
}
.current-card {
  background: #f3e3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.carousel-home {
  display: flex;
  margin-bottom: -50px;
  /* width: 100%; */
  /* margin: 0px 40px; */
}
.transaction-table-card {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-bottom: 16px;
}
.expandable-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(5, 70px); */
  row-gap: 2px;
  column-gap: 26px;
}
.field-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.field-container label {
  font-weight: 600;
}
.field-container input {
  height: 20px;
  margin-left: 10px;
  text-align: center;
  padding: 12px 0px;
}

.message-div {
  display: flex;
  flex-direction: column;
}

.message-div span {
  font-weight: 600;
  font-size: 13px;
}

.transaction-table-header {
  display: inline;
  margin: 20px 20px 40px 20px;
  /* justify-content: space-evenly; */
}
.blue-text {
  font-weight: 600;
  font-size: 12px;
  color: #7800c0;
  margin-top: 0px;
}
.transaction-history {
  display: flex;
  flex-direction: column;
  float: left;
}
.transaction-history span:first-child {
  font-weight: bold;
  color: #222222;
  font-size: 18px;
}
.transaction-history span:nth-child(2) {
  /* font-weight: bold; */
  color: #403368;
  font-size: 15px;
}
.date-picker-fields-print-logo {
  display: flex;

  float: right;
  margin: 3px 20px;
}
.datepicker-div {
  margin-right: 20px;
  display: flex;
}
.example-custom-input {
  border: 1px solid #8899f0;
  color: #656565;
  padding: 4px;
  width: 120px;
  margin-right: 10px;
  border-radius: 4px;
}
.printer-icon {
  margin-right: 80px;
}
.image-icon-swift {
  margin-right: 6px;
}
.swift-text-table-header {
  margin-right: 20px;
  font-weight: bold;
  color: #222222;
  font-size: 15px;
}

.currency-account-cards-container {
  display: grid;
  grid-template-columns: 19vw 19vw 19vw 19vw 19vw;
  grid-column-gap: 10px;
  margin: 40px 90px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #f3e3ff;
  /* margin: 20px 0px; */
  align-self: center;
}

@media only screen and (max-width: 425px) {
  .currency-card-container {
    grid-template-columns: repeat(50, 78vw);
    margin-left: 30px;
  }
}
