#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#overlay-text {
  font-size: 20px;
  color: #fff;
  text-align: left;
  padding: 0px 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.modal1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 530px;
  height: 280px;
  margin: 140px auto;
  padding: auto auto;
  /* background: #fff; */
  color: white;

  /* border: 1px solid #fff; */

  border-radius: 4px;
}
