.signUp-form-container {
  max-width: 70vw;
  height: 230vh;
  margin: 40px auto;
  padding: 12px;
  background-color: #fff;
}

.Account-opening-Sign-Up-Form-title-text {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  /* padding: 12px; */
}
.company-information-box {
  width: 300px;
  background-color: #c4c4c4;
  padding: 10px;
  /* margin-left: 12px; */
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.company-title-text {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
}
.user-section {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(3, 50px);
  row-gap: 26px;
  column-gap: 6px;
}
.company-section {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows:
    repeat(3, 70px) 30px repeat(3, 70px) 30px repeat(2, 70px)
    30px 90px;
  row-gap: 6px;
  column-gap: 6px;
}
.fields-div {
  display: flex;
  flex-direction: column;
}

.fields-div > label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
  text-align: left;
  padding: 8px 0px;
  font-family: CustomFont;
}
.fields-div .signup-input {
  width: 200px;
  background-color: #f9f9f9;
  border: 2px solid #ededed;
  padding: 4px;
  outline: none;
}

.fields-div .upload-file {
  width: 200px;
  background-color: #f9f9f9;
  border: 1px solid #ededed;
  padding: 4px;
}

.company-section > .title-text {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  margin-top: 18px;
}

.people-information-section {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, 70px) 30px repeat(2, 70px) 30px repeat(3, 70px) 30px 90px;
  row-gap: 6px;
  column-gap: 6px;
}

.people-information-section > .title-text {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
}

.accept-terms-and-conditions {
  width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accept-terms-and-conditions div > label {
  font-weight: 600;
  font-size: 12px;
}

.signup-button {
  background-color: #ea8e67;
  width: 160px;
  border-radius: 4px;
  padding: 4px;
  margin-top: 10px;
  font-weight: 600;
  color: #fff;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
  outline: none;
}
.signup-button:hover {
  color: #fff;
}

.privacy-policy-check-box {
  width: 40px;
}
.privacy-policy-link-text {
  color: blue;
  cursor: pointer;
}

.privacyPolicy {
  word-spacing: 3px;
}

@media only screen and (max-width: 425px) {
  .signUp-form-container {
    margin: 20px;
  }

  .user-section {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 50px);
    row-gap: 26px;
    column-gap: 16px;
  }

  .fields-div > label {
    font-weight: 500;
    font-size: 12px;
    padding: 0px;
  }
  .fields-div .signup-input {
    width: 160px;
  }

  .company-section {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows:
      repeat(3, 60px) 30px repeat(3, 60px) 30px repeat(2, 60px)
      30px 90px;
    row-gap: 26px;
    column-gap: 16px;
  }
  .company-information-box {
    margin-top: 20px;
    padding: 10px;
  }
  .company-section > .title-text {
    margin-left: -174px;
  }
  .company-section > div:nth-child(13),
  div:nth-child(14),
  div:nth-child(15),
  div:nth-child(16) {
    margin-top: -100px;
  }
  .company-section > div:nth-child(17),
  div:nth-child(18),
  div:nth-child(19),
  div:nth-child(20) {
    margin-top: -70px;
  }

  .company-section > .business-partners {
    margin-top: -90px;
  }
  .company-section > div:nth-child(25),
  div:nth-child(26) {
    margin-top: -210px;
  }
  .company-section > div:nth-child(27),
  div:nth-child(28) {
    margin-top: -170px;
  }
  .company-section > div:nth-child(29),
  div:nth-child(30) {
    margin-top: -120px;
  }
  .company-section > .residence-business-company {
    margin-left: 0px;
    margin-top: -70px;
  }
  .company-section > div:nth-child(34) {
    margin-top: -30px;
    margin-left: -180px;
  }

  .people-information-section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    row-gap: 26px;
    column-gap: 16px;
  }

  .people-information-section > .shareholder {
    margin-top: 20px;
  }
  .people-information-section > div:nth-child(10) {
    margin-top: -30px;
    margin-left: -180px;
  }
  .people-information-section > div:nth-child(11) {
    margin-top: -44px;
  }
  .people-information-section > div:nth-child(12) {
    margin-top: -44px;
  }
  .people-information-section > div:nth-child(14) {
    margin-top: -182px;
  }
  .people-information-section > div:nth-child(15) {
    margin-top: -40px;
  }
  .people-information-section > div:nth-child(13) {
    margin-top: -20px;
    /* margin-right: 0px; */
  }
  .people-information-section > .account-beneficiary {
    /* margin-top: 0px; */
    margin-left: -180px;
  }

  .people-information-section > div:nth-child(19),
  div:nth-child(20) {
    margin-top: -100px;
  }
  .people-information-section > div:nth-child(21),
  div:nth-child(22) {
    margin-top: -80px;
  }
  .people-information-section > div:nth-child(23) {
    margin-top: -100px;
  }
  .people-information-section > div:nth-child(24) {
    margin-top: -100px;
  }
  .people-information-section > div:nth-child(25) {
    margin-top: -50px;
  }
  .people-information-section > div:nth-child(26) {
    margin-top: -50px;
  }

  .people-information-section > .residence-business-people {
    margin-top: 90px;
    margin-left: -180px;
  }
  .people-information-section > div:nth-child(31),
  div:nth-child(32) {
    margin-top: -50px;
  }
  .accept-terms-and-conditions div {
    margin-top: 140px;
    margin-left: -40px;
  }
  .signup-button {
    margin-left: -30px;
  }
}

@media only screen and (max-width: 400px) {
  .accept-terms-and-conditions div {
    margin-top: 140px;
    margin-left: -80px;
  }
  .signup-button {
    margin-left: -60px;
  }
}
