.user-settings-container {
  /* background-color: white; */
  margin: 0px auto;

  display: flex;
  justify-content: space-evenly;
}

.user-settings-card {
  height: 260px;
  width: 20%;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 1px 1px 4px 2px #c4c4c4;
  cursor: pointer;
}

.user-settings-card:hover {
  animation-name: example;
  animation-duration: 0.9s;
  background-color: #007bff;
  color: white;
}
@keyframes example {
  from {
    background-color: white;
  }
  to {
    background-color: #007bff;
  }
}

.setting-icon {
  height: 100px;
}
