.card{
  border-radius: 24px;
  .image-icon-block{
    font-size: 22px;
    .image-icon-swift{
      padding-right:10px;
      max-height: 20px; 
    }  
  }
  .text-block{
      font-size: 22px;  
  }
  .card-header{
    border-radius: 24px;
    .react-datepicker-wrapper{
      display: inline-block !important;
      .react-datepicker__input-container{
        padding-left:5px; 
        input[type=text]{
          min-width: 176px;
          min-height: 24px;
          border-radius: 5px;
          border: 1px solid #8899F0;
        }
      }
    }
    
    .date-label{
      display: inline-block;
    }
  }
  .card-body{
    #column-date, #column-transferred_to, #column-message,
    #column-total_availablebal_after_transfer,
    #column-AvailableBalence,
    #column-account_status{
      font-size: 15px;
      color: rgba(0, 0, 0, 0.72); 
    }
  }
}
.ecommerce-slider {
    padding-right: 9px;
    .slick-list {
      .slick-track {
        .slick-slide {
          padding-right: 25px;
          padding-left: 25px;
          .item {
            .card {
              box-shadow: none;
            }
          }
        }
        .slick-center{
          transform: scale(1.1, 1.2); 
        }
      }
    }
    .ecommerce-icons{
        padding: 30px 0px 30px 20px;
        border-radius: 20px;
        .opaque-circle-top{
          position: absolute;
          top: -21px;
          right: -59px;
          background: #ffff;
          opacity: 0.25;
          width: 200px;
          height: 150px;
          border-radius: 50%;
          &:before{
            content: 'Business';
            top: 60px;
            position: absolute;
            left: 52px;
            color: #0057FF;
            font-size: 18px;
            z-index: 999;
          }
        }
        .opaque-circle-bottom{
          position: absolute;
          bottom: -21px;
          right: -59px;
          background: #ffff;
          opacity: 0.25;
          width: 200px;
          height: 150px;
          border-radius: 50%;
          &:before{
            content: url("../../../assets/images/payment-history/swifticon.png");
            top: 60px;
            position: absolute;
            left: 52px;
            color: #0057FF;
            font-size: 18px;
            z-index: 999;
          }
        }
        .title{
          text-align: left;
          color: #ffff;
        }
        .title-data{
          text-align: left;
          color: #ffff;
        }
        .currency--sign{
          position: relative;
          top: -20px;
          right: 10px;
        }
    }
    .slick-prev:before, .slick-next:before{
        color: black;
    }
  }