.home-page-tabs {
  position: absolute;
  left: 10%;
  bottom: -4%;
}
.header-body-content {
  .card {
    margin: 30px;
    margin-bottom: 0px;
    .card-body {
      min-width: 250px;
      // min-height: 180px;
      max-height: 300px;

      padding: 15px 30px 10px 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      img {
        max-width: 22px;
        max-height: 22px;
      }
      .content-body {
        .content-1 {
          display: inline;
        }
        .content-2 {
          display: inline;
        }
      }
      .amount-text-active {
        background: #b0daef;
        border-radius: 5px;
      }
      .amount-text-disable {
        background: #eef0f1;
        border-radius: 5px;
      }
    }
  }
  .tabs {
    color: #7800c0;
    font-size: 14px;
    padding: 10px;
    padding: 5px;
    .active {
      background: #f6f7fb;
      border-radius: 3px;
      padding-bottom: 20px;
      border-radius: 3px;
    }
    .item {
      padding: 5px;
      cursor: pointer;
    }
  }
}
.table--body {
  .active-tab-pointer {
    position: relative;
    content: url('../../images//HomePage/activeArrow.png');
    width: 59px;
    height: 34px;
    left: 55px;
  }
  .card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    .current-card {
      background: #f3e3ff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .image-icon-block {
      font-size: 15px;
      .image-icon-swift {
        padding-right: 10px;
        max-height: 20px;
      }
    }
    .text-block {
      font-size: 15px;
      .block-1 {
        font-size: 18px;
        color: #222222;
      }
      .block-2 {
        font-size: 15px;
        color: #403368;
      }
    }
    .table-header-right {
      padding-right: 35px;
    }
    img {
      max-width: 40px;
    }
    .card-header {
      border-radius: 10px;
      border-top: 1px solid #e9e9e9;
      .react-datepicker-wrapper {
        display: inline-block !important;
        .react-datepicker__input-container {
          padding-left: 5px;
          input[type='text'] {
            min-width: 128px;
            min-height: 24px;
            border-radius: 5px;
            border: 1px solid #8899f0;
          }
        }
      }
    }
  }
}
.home-header-body {
  .card {
    box-shadow: none;
    .current-card {
      background: #f3e3ff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .image-icon-block {
      font-size: 15px;
      .image-icon-swift {
        padding-right: 10px;
        max-height: 20px;
      }
    }
    .text-block {
      font-size: 15px;
      .block-1 {
        font-size: 18px;
        color: #222222;
      }
      .block-2 {
        font-size: 15px;
        color: #403368;
      }
    }
    .table-header-right {
      padding-right: 35px;
    }
    img {
      max-width: 40px;
    }
    .card-header {
      border-radius: 10px;
      border-top: 1px solid #e9e9e9;
      .react-datepicker-wrapper {
        display: inline-block !important;
        .react-datepicker__input-container {
          padding-left: 5px;
          input[type='text'] {
            min-width: 128px;
            min-height: 24px;
            border-radius: 5px;
            border: 1px solid #8899f0;
          }
        }
      }
    }
    .tabs {
      color: #7800c0;
      font-size: 14px;
      padding: 10px;
      padding: 5px;
      .transactions {
        background: #f6f7fb;
        padding-bottom: 20px;
        border-radius: 3px;
      }
      .item {
        padding: 5px;
        cursor: pointer;
      }
    }
  }
  .header-body-title {
    font-size: 18px;
  }
  .header-body-content {
    .subtitle {
      color: #222222;
      font-size: 18px;
      letter-spacing: -0.02em;
    }
  }
}
.home-table-status {
  min-width: 120px;
  .approved {
    background: #389d27;
    padding: 6px 30px 6px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
    width: 100%;
    border: #389d27;
    outline: none;
  }
  .rejected {
    background: #ec0c0c;
    padding: 6px 30px 6px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
    // width: 100%;
    border: #ec0c0c;
    outline: none;
  }
  .pending {
    background: #0c22ec;
    padding: 6px 30px 6px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
    // width: 100%;
    border: #0c22ec;
    outline: none;
  }
  .executed {
    background: #f3c623;
    padding: 6px 30px 6px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
    // width: 100%;
    border: #f3c623;
    outline: none;
  }
}
.transfer-header-left {
  .transfer-type {
    button {
      background: #f3e3ff;
      border: 1px solid rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      color: #777777;
      cursor: pointer;
    }
  }
  .form-group {
    button {
      background: #8899f0;
      border-radius: 5px;
      color: white;
      border: solid 1px #8899f0;
      outline: none;
      cursor: pointer;
    }
    input {
      background: #f9f9f9;
      border: 1px solid #ededed;
      box-sizing: border-box;
    }
    .form-control {
      max-width: 240px;
      max-height: 25px;
    }
  }
}
.transfer-header-right {
  .paragraph-wrapper {
    background: linear-gradient(
      0deg,
      #f3e3ff 18.71%,
      rgba(255, 255, 255, 0) 139%
    );
    padding: 35px 10px 56px 22px;
    p {
      max-width: 352px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
.exchange-header-right {
  .paragraph-wrapper {
    background: linear-gradient(
      0deg,
      #b3b3b3 18.71%,
      rgba(255, 255, 255, 0) 139%
    );
    padding: 35px 10px 56px 22px;
    p {
      max-width: 352px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
