.page-sidebar{
    background: #151516!important;
    .sidebar{
        .sidebar-menu{
            li{
                a{
                    color: #ffff!important;
                    font-size: 22px!important;
                    font-weight: 300!important;
                    img{
                        max-width: 20px;
                    }
                    span{
                        padding-left:5px; 
                    }
                }
            }
        }
        .sidebar-submenu{
    
        }
    }
}