.signin-header{
    background: #F9F9F9!important;
    padding: 0px 0px 10px 20px;
    li{
      .linkStyle{
        color: black!important;
        font-size: 24px!important;
        font-weight: bold!important;
      }
    }
    .left-header {
        img{
            max-width:180px;
            max-height:120px;
        }
    }
    .right-header{
        padding: 35px;
    }
  }