.authentication-main{
    .login-page{
            .card-body-inner{
                background: #F3E3FF;
                padding: 1rem 0.25rem 0.25rem 0.25rem;
                button{
                    background-color: #EA8E67!important;
                    border-color: #EA8E67!important;
                    max-height: 32px;
                    max-width: 240px;
                    .img1{
                        position: relative;
                        left: 6px;
                        max-width: 22px;
                    }
                    .img2{
                        max-height: 14px;
                    }
                }
                .form-group{
                    .col-form-label{
                        color: #737373;
                        font-weight: bold;
                    }
                    a{
                    font-weight: bold;
                    }
                    input{
                        background: #F9F9F9;
                        max-height: 25px;
                        max-width: 240px;
                    }
                }
            }
            .spsl-wrapper{
                a{
                    color: #7C7C7C;
                }
                p{
                line-height:1.2
                }
            }
    }
}