.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column li {
    margin-bottom: 0px; 
}
/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
.card-header-home{
	padding:2% !important;
	background-color:#f6f7fb !important;
}
.card-body-home{
	padding:1% !important;
	background-color:#300060 !important;
	border-radius: 10px;

	ul{
		display:flex; 
		flex-direction:column
	}
	.card-div{
		background-color: white;
		border-radius: 10px;
		margin-bottom:1%;

		.card-div-upper{
			background-color:white;
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin:0 1%;

			.currency-p{
				line-height:0.8;
				margin-bottom:0;
			}
			.swift-p{
				align-items: center; 
				display: flex;
				justify-content: space-between; 
				font-weight:800;

				img{
					border-radius:50%
				}
			}
		}
		.card-div-lower{
			background-color:#dcdcdc; 
			padding-top:1%;
			border-radius:10px; 
			align-items: center; 
			display: flex; 
			justify-content: space-around;

			.shrunk-card-p{
				line-height:0.8; 
				margin-bottom:0
			}
			.flexShrink{
				flex-shrink: 0;

				button{
					background-color:white;
					font-size:x-small
				}
			}
		}
	}
	.card-body-form{
		background-color:#dcdcdc;
		display:flex;
		justify-content:space-around; 
		align-items:center;
		border-radius:10px;

		button{
			background-color: inherit;
		}
	}
	.row-sixth-card{
		display:flex;
		background-color:white;
		border-radius:10px;
		margin-bottom:1%;

		.row-column1{
			margin:1%;
			width:70%;

			.c1-p1{
				margin-bottom:0.5px;
				letter-spacing:0;
			}
			.c1-p2{
				border-radius:10px;
				background-color:#dcdcdc;
				padding:2%
			}
		}
		.c2-p1{
			margin:0
		}
		button{
			border-radius:5px;
			font-size:xx-small;
			background-color:#dcdcdc;
			margin:1%
		}
	}
}
td{
	button{
		background: inherit;
	}
}
.card-carousel-caption{
	display:flex; 
	align-items: center; 
	justify-content:space-between;
	padding-top:0;
	padding-bottom:0; 
	bottom:5px;
	color:#fff;

	p{
		font-size:medium;
	}

}