.card-inner{
	border-radius:20px;
	display:flex;
	justify-content:space-between;
	background-color:#f9f9f9;

	input{
	padding:1%;
	margin:0
	}
	.form-group{
		margin:0
	}
	.column-side-border{
		border-right: 1px solid black ; 
		padding-right:1%;

		@media(max-width: 768px){
			border-right:none;
			padding-right:0;
		}
	}
	.column-styling{
		margin:0 1%;
		width:100%;

		.column-form{
			background-color:#dcdcdc;
			padding:2%;
			border-radius:20px;
			margin-bottom:2%;

			.column-form-label{
				margin-bottom:0
			}
		}
	}

	@media(max-width: 768px){
		flex-direction:column;
		width:40%
	}
}
