@import 'assets/scss/app.scss';

@media screen and (max-width: 991px) {
  .page-body-wrapper > .page-sidebar.open {
    margin-left: 0 !important;
  }
  .page-body-wrapper > .page-sidebar:not(.open) {
    margin-left: calc(-260px);
  }
  .all-info .card-body.border > div:not(:first-child) {
    width: 50%;
  }
}
.compactLogo a {
  display: block;
  max-width: 71px;
  margin: 0 auto;
}
.compactLogo img {
  max-width: 100%;
}
.page-wrapper {
  .page-body-wrapper {
    .page-body {
      margin-top: 100px !important;
    }
  }
}
.page-main-header {
  .main-header-right {
    .nav-right ul {
      float: right;
    }
  }
}
